@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(71,171,154);
    background: linear-gradient(0deg, rgba(71,171,154,1) 0%, rgba(0,0,0,1) 100%);
    width: 100vw;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: 100vw;
    padding: 10px 20px;
    font-weight: 800;
    background-color: rgb(17, 17, 17);
    color: white;
    border-bottom: 1px solid rgb(124, 175, 175);
}

.header span {
    color: rgb(124, 175, 175);
}

.header .icons {
    margin-top: 5px;
}

header .icons img{
    margin: 0 5px;
    width: 20px;
}

/*----------------------------------------------------------------------------------------------*/

.container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-top: -40px;
    width: 90%;
    color: white;
}

.container .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100vh;
    color: white;
}
.container .content .text {
    width: 50%;
}

.container .content h3{
    letter-spacing: 1px;
    word-spacing: 2px;
}

.container .content h1{
    color: rgb(124, 175, 175);
    font-size: 2rem;
}

.container .content img {
    width: 400px;
}

.menu{
    width: 350px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu .linkMenu {
    text-decoration: none;
    width: 90px;
    height: 40px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: rgb(124, 175, 175);
    font-weight: 800;
    border-radius: 7px;
    transition: 500ms;
    font-size: 80%;
    margin: 10px 0;
}

.menu .linkMenu:hover{
    background-color: rgb(213, 234, 235);
}

/*-----------------------------------------*/
.container .projects {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 125vh;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.158);
    border-radius: 10px;
}
.container .projects .cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
}

.container .projects .cards .cardProjects,
.container .projects .cards .cardProjectsresponse{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    width: 230px;
    height: 320px;
    background-color: white;
    color: black;
    margin: 10px 0;
    box-shadow: 0 0 10PX;
}
.container .projects .cards .cardProjects header{
    height: 20px;
    margin-bottom: 5px;
}
.container .projects .cards .cardProjectsresponse .embreve{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    background-color: rgba(134, 180, 137, 0.836);
    border-radius: 5px;
}

.container .projects .cards .cardProjectsresponse .load{
    margin-top: 30px;
    width: 100px;
}

.container .projects .cards .cardProjects header h3{
    font-size: 80%;
}

.container .projects .cards .cardProjects .image-card{
    width: 200px;
    height: 170px;
    border-radius: 10px;
    margin-bottom: 5px;  
}

.container .projects .cards .cardProjects .footerCard{
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 100%;
    height: 60px;
}
.container .projects .cards .cardProjects .footerCard .textCard{
    display: flex;
    line-height: 18px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.projects .cards .cardProjects button{
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 5px;
    padding: 10px;
    background-color: rgba(134, 180, 137, 0.836);
    color: white;
}

/*------------------------------------------------------------*/

.container .formation{
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 100%;
    padding: 30px;
}

.container .formation .text-formation .section-text{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    margin-top: 15px;
}

.container .formation .text-formation .section-text div{
    width: 30%;
    margin: 15px;

}

.container .topo{
    width: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

@media only screen and (max-width: 940px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        display: block;
    }
    .header {
        width: 100%;
        height: 120px;
        flex-direction: column;
        justify-content: space-around;
    }
    .container{
        align-items: center;
        margin: 0;
        width: 100%;
        padding: 30px 10px;
        height: 100%;
    }
    .container .content {
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .container .content .text{      
        flex-direction: column;  
        width: 100%;
    }
    .container .content .text h1{
        display: block;
        font-size: 1.5rem;
    }
    .container .content .text h3 {
        font-size: 1rem;
    }
    .menu{
        display: none;
    }
    .container .content .text p{
        margin: 0;
        width: 100%;
        min-width: 320px;
    }
    .container .content img{
        width: 100%;
    }
    /*-------------------------*/
  
    .container .projects{
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        width: 100%;
        height: 1600px;
        margin-bottom: 10px;
    }

    .container .projects .cards{
        width: 100%;
    }
    .container .projects .cards .cardProjects{
        width: 100%;        
    }
    .container .projects .cards .cardProjectsresponse{
        display: none;
    }

    /*-----------------------------------------*/

    .container .formation {
        margin-top: 10px;
        height: 100%;
        flex-direction: column;
        width: 100%;
    }
    .container .formation .text-formation {
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }
    .container .formation .text-formation .section-text{
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .container .formation .text-formation .section-text div{
        width: 100%;
    }

}
